*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background: #000;
}
.container1{
    width: 100%;
    height: 56px;
    background-color: #2874F0;
}